.main_nav li.btn_1 a:hover{ background-color:#e31454;}
.theme_1 .main_nav li.current a{ background-color:#e31454;}
.theme_1 .main_nav li.current .sub a:hover { background-color:#e31454;}
.theme_1 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_1 .owl-theme .owl-dots .owl-dot:hover span { background-color:#e31454;}
.theme_1 .block_a .block_title{ background-color:#e31454;}

.main_nav li.btn_2 a:hover{ background-color:#00d955;}
.theme_2 .main_nav li.current a{ background-color:#00d955;}
.theme_2 .main_nav li.current .sub a:hover { background-color:#00d955;}
.theme_2 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_2 .owl-theme .owl-dots .owl-dot:hover span { background-color:#00d955;}
.theme_2 .block_a .block_title{ background-color:#00d955;}

.main_nav li.btn_3 a:hover{ background-color:#af40ff;}
.theme_3 .main_nav li.current a{ background-color:#af40ff;}
.theme_3 .main_nav li.current .sub a:hover { background-color:#af40ff;}
.theme_3 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_3 .owl-theme .owl-dots .owl-dot:hover span { background-color:#af40ff;}
.theme_3 .block_a .block_title{ background-color:#af40ff;}

.main_nav li.btn_4 a:hover{ background-color:#ff7303;}
.theme_4 .main_nav li.current a{ background-color:#ff7303;}
.theme_4 .main_nav li.current .sub a:hover { background-color:#ff7303;}
.theme_4 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_4 .owl-theme .owl-dots .owl-dot:hover span { background-color:#ff7303;}
.theme_4 .block_a .block_title{ background-color:#ff7303;}

.main_nav li.btn_5 a:hover{ background-color:#ff03cd;}
.theme_5 .main_nav li.current a{ background-color:#ff03cd;}
.theme_5 .main_nav li.current .sub a:hover { background-color:#ff03cd;}
.theme_5 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_5 .owl-theme .owl-dots .owl-dot:hover span { background-color:#ff03cd;}
.theme_5 .block_a .block_title{ background-color:#ff03cd;}

.main_nav li.btn_6 a:hover{ background-color:#067bff;}
.theme_6 .main_nav li.current a{ background-color:#067bff;}
.theme_6 .main_nav li.current .sub a:hover { background-color:#067bff;}
.theme_6 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_6 .owl-theme .owl-dots .owl-dot:hover span { background-color:#067bff;}
.theme_6 .block_a .block_title{ background-color:#067bff;}

.main_nav li.btn_7 a:hover{ background-color:#858585;}
.theme_7 .main_nav li.current a{ background-color:#858585;}
.theme_7 .main_nav li.current .sub a:hover { background-color:#858585;}
.theme_7 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_7 .owl-theme .owl-dots .owl-dot:hover span { background-color:#858585;}
.theme_7 .block_a .block_title{ background-color:#858585;}

.main_nav li.btn_8 a:hover{ background-color:#ff0302;}
.theme_8 .main_nav li.current a{ background-color:#ff0302;}
.theme_8 .main_nav li.current .sub a:hover { background-color:#ff0302;}
.theme_8 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_8 .owl-theme .owl-dots .owl-dot:hover span { background-color:#ff0302;}
.theme_8 .block_a .block_title{ background-color:#ff0302;}

.main_nav li.btn_9 a:hover{ background-color:#baa230;}
.theme_9 .main_nav li.current a{ background-color:#baa230;}
.theme_9 .main_nav li.current .sub a:hover { background-color:#baa230;}
.theme_9 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_9 .owl-theme .owl-dots .owl-dot:hover span { background-color:#baa230;}
.theme_9 .block_a .block_title{ background-color:#baa230;}

.main_nav li.btn_10 a:hover{ background-color:#ffa743;}
.theme_10 .main_nav li.current a{ background-color:#ffa743;}
.theme_10 .main_nav li.current .sub a:hover { background-color:#ffa743;}
.theme_10 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_10 .owl-theme .owl-dots .owl-dot:hover span { background-color:#ffa743;}
.theme_10 .block_a .block_title{ background-color:#ffa743;}

.main_nav li.btn_11 a:hover{ background-color:#42ffaa;}
.theme_11 .main_nav li.current a{ background-color:#42ffaa;}
.theme_11 .main_nav li.current .sub a:hover { background-color:#42ffaa;}
.theme_11 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_11 .owl-theme .owl-dots .owl-dot:hover span { background-color:#42ffaa;}
.theme_11 .block_a .block_title{ background-color:#42ffaa;}

.main_nav li.btn_12 a:hover{ background-color:#7700cd;}
.theme_12 .main_nav li.current a{ background-color:#7700cd;}
.theme_12 .main_nav li.current .sub a:hover { background-color:#7700cd;}
.theme_12 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_12 .owl-theme .owl-dots .owl-dot:hover span { background-color:#7700cd;}
.theme_12 .block_a .block_title{ background-color:#7700cd;}

.main_nav li.btn_13 a:hover{ background-color:#14ab6c;}
.theme_13 .main_nav li.current a{ background-color:#14ab6c;}
.theme_13 .main_nav li.current .sub a:hover { background-color:#14ab6c;}
.theme_13 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_13 .owl-theme .owl-dots .owl-dot:hover span { background-color:#14ab6c;}
.theme_13 .block_a .block_title{ background-color:#14ab6c;}

.main_nav li.btn_14 a:hover{ background-color:#b82d69;}
.theme_14 .main_nav li.current a{ background-color:#b82d69;}
.theme_14 .main_nav li.current .sub a:hover { background-color:#b82d69;}
.theme_14 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_14 .owl-theme .owl-dots .owl-dot:hover span { background-color:#b82d69;}
.theme_14 .block_a .block_title{ background-color:#b82d69;}

.main_nav li.btn_15 a:hover{ background-color:#ff9eb3;}
.theme_15 .main_nav li.current a{ background-color:#ff9eb3;}
.theme_15 .main_nav li.current .sub a:hover { background-color:#ff9eb3;}
.theme_15 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_15 .owl-theme .owl-dots .owl-dot:hover span { background-color:#ff9eb3;}
.theme_15 .block_a .block_title{ background-color:#ff9eb3;}

.main_nav li.btn_16 a:hover{ background-color:#47cafd;}
.theme_16 .main_nav li.current a{ background-color:#47cafd;}
.theme_16 .main_nav li.current .sub a:hover { background-color:#47cafd;}
.theme_16 .gallery_a .owl-theme .owl-dots .owl-dot.active span, .theme_16 .owl-theme .owl-dots .owl-dot:hover span { background-color:#47cafd;}
.theme_16 .block_a .block_title{ background-color:#47cafd;}

